In [12]:
import gdown
url = 'https://drive.google.com/uc?id=1qmSEdZyzV1b6qe5TqramiZaCS3QgyL9-'
output = "/raid/syscon/malam/experiments/data/raw/data.zip"
gdown.download(url,output,quiet=False)

AttributeError: 'NoneType' object has no attribute 'groups'

In [13]:
!git clone https://github.com/chentinghao/download_google_drive.git
!cd download_google_drive/
!python download_gdrive.py "1qmSEdZyzV1b6qe5TqramiZaCS3QgyL9-" "/raid/syscon/malam/experiments/data/raw"

Cloning into 'download_google_drive'...
remote: Enumerating objects: 16, done.
remote: Total 16 (delta 0), reused 0 (delta 0), pack-reused 16
Unpacking objects: 100% (16/16), 4.77 KiB | 4.77 MiB/s, done.
python: can't open file 'download_gdrive.py': [Errno 2] No such file or directory

In [20]:
#!pip install wget
import wget
!wget -P "/raid/syscon/malam/experiments/data/raw/adult.zip" -O adult.csv "https://drive.google.com/uc?export=download&id=1qmSEdZyzV1b6qe5TqramiZaCS3QgyL9-"

--2024-02-10 01:55:35--  https://drive.google.com/uc?export=download&id=1qmSEdZyzV1b6qe5TqramiZaCS3QgyL9-
Resolving drive.google.com (drive.google.com)... 142.250.192.110, 2404:6800:4009:82a::200e
Connecting to drive.google.com (drive.google.com)|142.250.192.110|:443... connected.

HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1qmSEdZyzV1b6qe5TqramiZaCS3QgyL9-&export=download [following]
--2024-02-10 01:55:35--  https://drive.usercontent.google.com/download?id=1qmSEdZyzV1b6qe5TqramiZaCS3QgyL9-&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 142.250.183.193, 2404:6800:4009:826::2001
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|142.250.183.193|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 667679 (652K) [application/octet-stream]
Saving to: ‘adult.csv’

�L0V                100%[===================>] 652.03K  1.66MB/s    in 0.4s

2024-02-10 01:55:37 (1.66 MB/s) - ‘adult.csv’ saved [667679/667679]

In [ ]:
kaggle datasets download -d wenruliu/adult-income-dataset

In [21]:
!unzip "/raid/syscon/malam/experiments/data/raw/adult.zip" -d "/raid/syscon/malam/experiments/data/raw"

Archive:  /raid/syscon/malam/experiments/data/raw/adult.zip
  inflating: /raid/syscon/malam/experiments/data/raw/adult.csv

In [22]:
import pandas as pd
df = pd.read_csv("/raid/syscon/malam/experiments/data/raw/adult.csv")

In [23]:
df.head(5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K